@import './variables.scss';

#app {
  height: 100%;
}
.app-container {
  padding: 20px;
  background: #ffffff;
  ////border-radius: 10px;
  //min-height: calc(100vh - 150px);
  box-sizing: border-box;
  min-height: calc(100vh - 130px);
}

.operation-btn-group-wrapper {
  margin-top: 20px;
}

.page-wrapper {
  margin-top: 20px;
  text-align: center;
}

.text-center {
  text-align: center;
}

.w-info-title {
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.w-info-default .el-form-item{
  border-bottom:1px dotted #ccc;
}

.text-right {
  text-align: right;
}
.bottom-button {
  margin-top: 25px;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
}
.p-t-18 {
  padding-top: 18px;
}

.w-link-color {
  color: #409EFF;
}
/**滚动条样式**/
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
// 树结构横向滚动条
//.treeCode .el-tree-node>.el-tree-node__children{
//  overflow: inherit !important;
//}


// 叶子节点去掉图标
//.aside .el-tree-node__expand-icon.is-leaf::before
//{
//  display: none;
//}

// 标签管理
.treeBel .el-tree-node__expand-icon.is-leaf{
  //display: none;
  color: transparent !important;
}

.treeBel .el-tree .el-tree-node__expand-icon.expanded{
  transform: rotate(90deg) !important;
}

// 创建模型
.treeCode .el-tree .el-tree-node__expand-icon.expanded{
  transform: rotate(90deg) !important;
}
.treeCode .el-tree-node__expand-icon.is-leaf{
  color: transparent !important;
}

.sel .el-input__inner{
  cursor: pointer;
}

// 暂时为了迁就菜单组件问题使用
.el-table{
  padding: 0px !important;
  margin-top: 20px !important;
  padding-bottom: 16px !important;
}
// 暂时为了标签树的样式
.temporary .el-button{
  padding: 0px !important;
 }

// 暂时
.peopleName{
  width: 165px !important;
}
.components .el-button{
  padding: 0px !important;
}